.sidebar{
  position: fixed;
  left: 0px;
  bottom: 0px;
  top: 55px;
  width: 75px;
  background-color: rgb(255, 255, 255);
  border-right: 1px;
  border-right-style: solid;
  border-right-color: rgb(226, 226, 226);
  z-index: 5;
}


.sidebar-link{
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  
}

.sidebar-link:hover{
  background-color: rgb(235, 235, 235);
}


.sidebar-icon{
  width: 27px;

}


.sidebar-name{
  font-size: 10px;
}